.h1{
    background-color: blueviolet;
    justify-content: center;
}
.a{
    text-decoration: aqua;
    text-indent: 0cqmax;
    text-shadow: 0cqw;
}
.li{
    text-decoration: antiquewhite;
    
}